CompileFlags:
  CompilationDatabase: build/esp32c3
  Remove:
    - -isystem
    - -m*
    - -f*
  Add:
    - -isystem/home/ahan/.espressif/tools/riscv32-esp-elf/esp-16.1.0_20260609/riscv32-esp-elf/bin/../riscv32-esp-elf/../picolibc/include
    - -isystem/home/ahan/.espressif/tools/riscv32-esp-elf/esp-16.1.0_20260609/riscv32-esp-elf/bin/../lib/gcc/riscv32-esp-elf/16.1.0/include-fixed
    - -isystem/home/ahan/.espressif/tools/riscv32-esp-elf/esp-16.1.0_20260609/riscv32-esp-elf/bin/../lib/gcc/riscv32-esp-elf/16.1.0/../../../../riscv32-esp-elf/include
