*

!.gitignore
!CMakeLists.txt
!partitions.csv
!sdkconfig

!main/
!main/CMakeLists.txt
!main/logOS.c
!main/logos_start.c

!main/components/
!main/components/kernel/
!main/components/kernel/block.c
!main/components/kernel/device.c
!main/components/kernel/dir.c
!main/components/kernel/file.c
!main/components/kernel/fs_alloc.c
!main/components/kernel/fs.c
!main/components/kernel/inode.c

!main/components/shell/
!main/components/shell/shell.c
